.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.header .logo{
    width:  max(10%, 80px);
}
.header .profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}